<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body><Center>
    <h1>Library Management System</h1>
    <h2>Book's Details</h2>
    
    <table border="1">
        <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Subject</th>
            <th>Author Name</th>
        </tr>
        {% for st in stu %}
       
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.Book_Name}}</td>
            <td>{{st.Subject}}</td>
            <td>{{st.Author_Name}}</td>
        </tr>
        
        {% endfor %}
    </table>
</Center>


    
</body>
</html>